<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Auth - SimioDev</title>
	</head>
	<body>
		<div id="root" class="w-full h-full flex items-center justify-center bg-cyan-950">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	@import 'tailwindcss';
</style>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
